/* Basic styles for the site */
body { 
    font-family: Cambria, Times, 'Times New Roman', serif;
    font-size: 14pt;
}

.header { 
    background:navy; 
    color:#fff;
    padding-left: 1em;
    padding-right: 1em;
}

.site-title { 
    padding: 0.33em;
    text-align: center;    
}

.site-title a { 
    color: white; 
    text-decoration:none
}

.site-title a:hover {
    color: lightgoldenrodyellow;
}

.header h2 {
    text-align: center;
    font-size: 100%;
    font-style: italic;
    padding-bottom: 0.5em;
}   

nav .menu{ list-style:none; margin:0; padding:0; display:flex; gap:1rem }
nav a{ color:#fff; text-decoration:none }

footer{ background:#f4f4f4; padding:.5rem 0; text-align:center; clear: both; }

.candidate-photo {
    float: right;
    padding-left: 1em;
    padding-bottom: 1em;
}
