{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div class="content">
    {{ .Content }}
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
  {{ range .Pages }}
    <div class="col">
      <div class="card h-100">
        {{ $photo := print "images/" .Params.photo }}
        {{ $candidatePage := . }}
        {{ $image := resources.Get $photo }}
        {{ with $image }}
          {{ with .Fill "250x250 TopRight" }}
          <a href="{{ $candidatePage.RelPermalink }}">
            <img class="card-img-top" src="{{ .RelPermalink }}" 
                  >
          </a>
          {{ end }}
        {{ end }}
        <div class="card-body text-center">
          <h5 class="card-title"><strong>{{ .Title }}</strong></h5>
          <p class="card-text">
            <em>{{ .Params.blurb }}</em>
          </p>
          <a href="{{ .RelPermalink }}" class="btn btn-primary">Více o kandidátovi</a>
        </div>
      </div>
    </div>
  {{ end }}
  </div>
{{ end }}
